body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.logo-section img {
    height: 40px;
    object-fit: contain;
}

.menu_icon i {
    font-size: 18px;
    cursor: pointer;
    color: #FFDC2E;
    transition: color 0.3s ease;
    display: none;
}

/* Links container */
.pages-link-div {
    display: flex;
    gap: 20px;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.pages-link-div a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}


/* Sections */
section {
    padding: 100px 20px;
    background: #94ea0a;
    border-bottom: 1px solid #ddd;
}

section:nth-child(even) {
    background: #f90505;
}

section h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

/* Responsive */
@media (max-width: 989px) {
    .menu_icon i {
        display: block;
        /* show icon */
    }

    .pages-link-div {
        flex-direction: column;
        position: absolute;
        top: 50px;
        /* below navbar */
        right: 0;
        background: #ffffff;
        width: 100%;
        max-height: 0;
        /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
        gap: 1px;
        padding-bottom: 10px;
       

    }

    .pages-link-div.show {
        max-height: 300px;
        /* adjust depending on number of links */
    }

    .pages-link-div a {
        padding: 10px 100px;

    }
}

@media (max-width: 320px) {
    nav { 
    padding: 10px 20px;
   
}
}